:root {
    --btn-orange: #CD3D0F;
    --btn-blue: #2D64E6;
}

img {
    max-width: 100%;
}

/* header style */

.main-header .navbar .nav-item .ps_toggle::after {
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.main-header a {
    color: black;
}

/* hero style */

.hero {
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.hero .container,
.hero .container .row {
    height: 100%;
}

.hero .ps_btn_orange {
    background-color: var(--btn-orange);
}

.hero .game_logo {
    max-width: 230px;
}

/* carousel */

/* .carousel .thumbnail img {
    margin: 0.3rem;
}

/* .carousel .thumbnail {
    box-shadow: inset 0px 0px 0px 4px rgba(45,100,230,1);
} */ 


/* ps5 section */

.section_top h6 {
    color: var(--btn-blue);
}

.ps5 .cta {
    background-color: var(--btn-blue);
    min-width: 187px;
}

.ps5 .container .ps5_section {
    height: 600px;
}

.ps5 .container .ps5_thumb,
.ps5 .container .ps5_thumb img {
    height: 100%;
}

/* products carousel */



.carousel.products .product_thumb:hover {
    border-bottom: solid var(--btn-blue) 2px;
}