:root {
    --btn-orange: #CD3D0F;
    --btn-blue: #2D64E6;
    --ps-banner: #161C3B;
    --ps-footer: #00439C;
}

img {
    max-width: 100%;
}

/* header style */

.main-header .navbar .nav-item .ps_toggle::after {
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.main-header a {
    color: black;
}

/* hero style */

.hero {
    background-image: url(../img/jumbo-bg.png);
    
}

.fit-content {
    height: 600px;
    background-size: cover;
    background-position: center;
}

@media (min-width: 992px) {
    .fit-content {
        height: 700px;
    }
}

.fit-content .container,
.fit-content .container .row {
    height: 100%;
}

.fit-content .ps_btn_orange {
    background-color: var(--btn-orange);
}

.fit-logo.game_logo .max-w {
    max-width: 230px;
    max-height: 180px;
}


/* ps5 section */

.section_top h6 {
    color: var(--btn-blue);
}

.ps5 .cta {
    background-color: var(--btn-blue);
    min-width: 187px;
}

.ps5 .container .ps5_section {
    height: 600px;
}

.ps5 .container .ps5_thumb,
.ps5 .container .ps5_thumb img {
    height: 100%;
}

/* products carousel */

.carousel.products .product_thumb {
    border-bottom: solid transparent 2px;
}

.carousel.products .product_thumb:hover {
    border-bottom: solid var(--btn-blue) 2px;
}

.carousel.products {
    margin-top: 5rem;
}

/* game section */

.game-hero {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

/* ps4 products */

.ps4-products .cta {
    background-color: var(--btn-blue);
    max-width: 120px;
}

/* ps plus */

.ps_plus .cta {
    background-color: rgba(255, 255, 255, 0.5);
}

.ps_plus .game_logo .w-75 {
    width: 75%;
}

.ps_plus .h-100 {
    height: 100%;
}

/* ps now */

.ps_now {
    background-color: var(--ps-banner);
}

/* footer */
.main-footer {
    background-color: var(--ps-footer);
}
